.base {
	position: absolute;
	z-index: 50;
  border: solid 3px #F3F315;
	box-sizing: content-box;
	pointer-events: none;
}

.horizontalOverlay {
	composes: base;
	width: 755px;
	height: 450px;
}

.verticalOverlay {
	composes: base;
	width: 365px;
	height: 450px;
}

.horizontalSmallOverlay {
	composes: base;
	width: 365px;
	height: 212px;
}

.galleryOverlay {
	composes: base;
	width: 380px;
	height: 380px;
}