.base {
  position: absolute;
  display: block;
  width: 10px;
  height: 10px;
  background: rgba(222,60,80,.9);
  z-index: 50;
}

.hidden {
  display: none;
}

.ne {
  composes: base;
  top: -5px;
  right: -5px;
  cursor: ne-resize;
}

.nw {
  composes: base;
  top: -5px;
  left: -5px;
  cursor: nw-resize;
}

.se {
  composes: base;
  bottom: -5px;
  right: -5px;
  cursor: se-resize;
}

.sw {
  composes: base;
  bottom: -5px;
  left: -5px;
  cursor: sw-resize;
}

