.base {
  position: relative;
  display: inline-block;
  cursor: move;
  margin: 0 auto;
}

.hidden {
  display: none;
}

.img {
	display: block;
}

.img:hover,
.img:active {
  outline: 4px dashed rgba(222,60,80,.9);
}