.base {
	display: flex;
 	flex-flow: column nowrap;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
  height: 70px;
  color: #BDBDBD;
  background: #FFFFFF;
  font-family: 'Helvetica', 'Arial', sans-serif;
}

.active { 
  composes: base;
  background: #D7D7D7;
  color: #000000;
}

.dimensions {
	display: flex;
  margin: 0px;
}

.name {
	display: flex;
	font-weight: bold;
  margin: 0px 0px 5px 0px;
}