.flexRow {
  display: flex;
  flex-flow: row nowrap;
}

.flexColumn {
  display: flex;
  flex-flow: column nowrap;
}

.buttonBar {
  composes: flexRow;
  justify-content: space-between;
  width: 100%;
  margin: 10px 0px 10px 0px;
  max-height: 74px;
  position: absolute;
  bottom: 0px;
  left: 0px;
}

.fileInputMask {
  composes: flexColumn;
  font-family: 'Helvetica', 'Arial', sans-serif;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 30px;
  border-radius: 10px;
  padding: 17px 0px 0px 9px;
  background: #FFFFFF;
  border: 2px solid #DDD;
  font-size: 15px;
  margin-left: 10px;
}

.fileInputMaskBold {
  composes: fileInputMask;
  background: #3AB2F6;
  color: #FFF;
  border: none;
}

.hidden {
  display: none;
}