.base {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  outline: none;
  font-family: 'Helvetica', 'Arial', sans-serif;
}

.hidden {
  display: none;
}

.submit {
  composes: base;
  position: absolute;
  width: 210px;
  height: 54px;
  font-size: 15px;
  color: #FFFFFF;
  background: #3AB2F6;
  border-radius: 10px;
  margin-right: 10px;
  right: 0px;
}
